.container {
  max-width: $width-pc;
  margin: 0 auto;
  padding-left: $spacing-3;
  padding-right: $spacing-3;

  @include pad {
    padding-left: 36px;
    padding-right: 36px;
  }

  @include mobile {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.container-full {
  width: 100%;
}

@include pad {
  .container-p-full {
    padding-left: 0;
    padding-right: 0;
  }
}

@include mobile {
  .container-m-full {
    padding-left: 0;
    padding-right: 0;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$spacing-3;
  margin-right: -$spacing-3;

  &.noGutter {
    margin-left: 0;
    margin-right: 0;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: $spacing-3;
  padding-right: $spacing-3;
}

.noGutter {

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-1 {
  width: 8.33%;
}

.col-1 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@include pad {
  .col-p-1 {
    width: 8.33%;
  }

  .col-p-1 {
    width: 16.66%;
  }

  .col-p-3 {
    width: 25%;
  }

  .col-p-4 {
    width: 33.33%;
  }

  .col-p-5 {
    width: 41.66%;
  }

  .col-p-6 {
    width: 50%;
  }

  .col-p-7 {
    width: 58.33%;
  }

  .col-p-8 {
    width: 66.66%;
  }

  .col-p-9 {
    width: 75%;
  }

  .col-p-10 {
    width: 83.33%;
  }

  .col-p-11 {
    width: 91.66%;
  }

  .col-p-12 {
    width: 100%;
  }
}

@include mobile {
  .col-m-1 {
    width: 8.33%;
  }

  .col-m-1 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }
}