// width
$width-pc:     1296px;
$width-pad:    992px;
$width-mobile: 767px;

// color
$primary-100: #FBF2F2;
$primary:     #AA0601;
$primary-900: #650300;
$dark:        #000000;
$light:       #ffffff;

// font-family
$font-tc: 'Noto Sans TC', sans-serif;;
$font-en: 'Roboto', sans-serif;

// font-size
$display-1: 64px;
$display-2: 48px;
$display-3: 42px;
$h1: 36px;
$h2: 32px;
$h3: 24px;
$h4: 20px;
$h5: 19px;
$h6: 18px;
$fz-1: 16px;
$fz-2: 14px;

// spacing
$spacing-1:  4px;
$spacing-2:  8px;
$spacing-3:  12px;
$spacing-4:  16px;
$spacing-6:  24px;
$spacing-8:  32px;
$spacing-10: 40px;
$spacing-12: 48px;
$spacing-20: 80px;




