<div class="blog-nav">
  <div class="container d-flex justify-between align-center">
    <ul class="d-flex">
      <li><a href="#">最新消息</a></li>
      <li><a href="#">特別企劃</a></li>
      <li><a href="#">新品上市</a></li>
      <li><a href="#">鏡框小知識</a></li>
    </ul>
    <a href="#">
      <span class="material-icons-outlined">
        search
      </span>
    </a>
  </div>
</div>