<nav class="nav">
  <div class="container d-flex justify-between align-center flex-m-column align-m-start">
    <a href="index.html">
      <h1 class="mainLogo"></h1>
    </a>


    <ul class="nav-list d-flex flex-wrap">
      <li class="nav-list-item"><a href="product_optical.html" class="nav-list-item-link">系列鏡框</a></li>
      <li class="nav-list-item"><a href="stores.html" class="nav-list-item-link">門市據點</a></li>
      <li class="nav-list-item"><a href="blog.html" class="nav-list-item-link">部落格</a></li>
      <li class="nav-list-item"><a href="qa.html" class="nav-list-item-link">常見問題</a></li>
    </ul>
  </div>
</nav>