<div class="product-nav container container-p-full">
  <ul class="row noGutter">
    <li class="col-4"><a class="opticalLink" href="product_optical.html">OPTICAL</a></li>
    <li class="col-4"><a class="sunglassesLink" href="product_sunglasses.html">SUNGLASSES</a></li>
    <li class="col-4"><a href="＃">FUNCTIONAL</a></li>
  </ul>
</div>