<div class="product-nav">
  <ul class="container">
    <li><a href="../pages/product_optical.html">OPTICAL</a></li>
    <li><a href="../pages/product_sunglasses.html">SUNGLASSES</a></li>
    <li><a href="../pages/product_functional.html">FUNCTIONAL</a></li>
  </ul>
</div>