.hover {
  &-overflow {

    img,
    .hover-linktext {
      transition: all ease .5s;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      .hover-linktext {
        filter: brightness(75%);
      }
    }

    &-imgSameheight {
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
    }

    &-imgFitheight {
      height: fit-content;
      overflow: hidden;
    }
  }
}