.title {
  padding-left: $spacing-3;
  margin-bottom: $spacing-8;
  border-left: 8px solid $primary;
  font-size: 48px;
  font-weight: 600;

  @include mobile {
    font-size: $h3;
    margin-bottom: $spacing-6;
  }
}