.blog-nav {
  background-color: $primary-900;
  color: $light;

  ul {
    a {
      padding: 13px 24px;
    }

    li:first-child a {
      padding-left: 0;
    }
  }

  span {
    font-size: $h2;
    vertical-align: middle;
  }

  a:hover {
    transform: scale(1.05);
  }

  @include mobile {
    display: none;
  }
}