.footer{
  padding: $spacing-12 0 $spacing-8 0;
  color: $light;
  background-color: $primary;

  &-main {
    border-bottom: 1px solid $light;
    margin-bottom: $spacing-6;
  
    &-listLink {
      a {
        padding: $spacing-6;
      }
      
      li:first-child {
        a {
          padding-left: 0;
        }
      }

      li:last-child {
        a {
          padding-right: 0;
        }
      }
    }

    &-socialLink {
      img {
        width: 48px;
      }
      
      li:nth-child(2) {
        margin: 0 32px;
      }
    }

    &-contact {
      margin-bottom: $spacing-8;
      div:first-child {
        margin-bottom: $spacing-2;
      }

      span {
        margin-right: 16px;
        font-size: $display-3;
      }

      a {
        font-size: $h1;
      }

      .mail {
        padding-top: 12px;
      }
    }
  }

  &-secondary {
    p {
      font-family: $font-en;
    }

    a {
      font-size: $fz-2;
      padding: 0 24px;

      &:last-child{
        padding-right: 0;
      }
    }
  }
  
  @include pad {
    .container {
      padding: 0 36px;
    }
  }

  @include mobile {
    padding: $spacing-6 0;

    .container {
      padding: 0 14px;
    }

    &-main {
      margin-bottom: $spacing-4;

      &-listLink {
        display: none;
      }

      &-socialLink {
        img {
          width: 24px;
        }
        
        li:nth-child(2) {
          margin: 0 $spacing-4;
        }
      }

      &-contact {
        margin-bottom: $spacing-6;
  
        span {
          margin-right: 10px;
          font-size: $h4;
        }
  
        a {
          font-size: $fz-1;
        }
  
        .mail {
          padding-top: $spacing-1;
        }
      }
    }

    &-secondary {
      p {
        margin-bottom: 8px;
      }

      a {
        font-size: $fz-1;
        padding: 0;
        margin-bottom: 8px;
  
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}