.nav {
  background-color: $primary;
  color: $light;

  a {
    width: fit-content;

    &:hover {
      transform: scale(1.05);
    }
  }

  .container {
    @include pad {
      padding-left: 36px;
      padding-right: 36px;
    }

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.mainLogo {
  height: 48.5px;
  width: 80px;
  margin-top: $spacing-4;
  margin-bottom: $spacing-4;
  background-image: url('../images/logo-white.png');
  background-size: cover;

  @include mobile {
    margin-left: 15px;
  }
}

.nav-list {
  font-size: 20px;
  text-align: center;

  &-item-link {
    padding: 0 32px;
  }

  &-item:last-child a {
    padding-right: 0;
  }

  @include mobile {
    width: 100%;
    font-size: 16px;

    &-item {
      width: 50%;
      border-top: 1px solid $light;
      border-bottom: 1px solid $light;

      
      &:nth-child(n+1){
        border-bottom: none;
      }

      &:nth-child(2n){
        border-left: 1px solid $light;
      }
    }

    &-item-link {
      padding: 12px 0;
    }
  }
}