.blogArticle {

  .container a:hover {
    color: $primary-900;
  }

  &-header {
    &-breadcrump {
      display: flex;

      li {
        &:not(:last-child)::after {
          content: "/";
          padding: $spacing-1;
        }

        &:last-child {
          color: $primary;
        }
      }
    }
  }

  &-main {
    &-content {
      color: $gray-900;
      margin-bottom: $spacing-10;

      img {
        margin-bottom: $spacing-2;
      }

      @include pad {
        margin-bottom: $spacing-6;

        &:last-child {
          margin-bottom: $spacing-10;
        }

        img {
          margin-bottom: $spacing-4;
        }
      }

      @include mobile {
        margin-bottom: $spacing-4;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          margin-bottom: $spacing-2;
        }
      }
    }
  }

  &-side-tags {
    li {
      margin-right: $spacing-6;
      margin-bottom: $spacing-1;
      font-family: $font-en;
      font-size: $h3;
      color: $primary;
      font-weight: 700;

      @include pad {
        font-size: $fz-1;
      }
    }
  }

  &-footer {
    &-share {
      border-bottom: 1px solid $gray;

      img {
        width: 24px;
      }
    }

  }
}