.qa {
  ol {
    li::before {
      content: "Q" counter(list-item)".";
      font-size: $h4;
      font-weight: 600;
    }

    h4 {
      display: inline-block;
    }
  }

  @include mobile {
    .title {
      margin-bottom: $spacing-6;
    }
  }
}