<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('./layout/nav'); -%>
    <%- include('./layout/product-nav'); -%>

      <div class="product-header row noGutter">
        <img class="col-6" src="../assets/images/product-header-1.png" alt="眼鏡形象照">
        <img class="col-6" src="../assets/images/product-header-2.png" alt="眼鏡形象照">
      </div>

      <div class="container">
        <div class="product-title text-center">
          <h2>Celluloid Combi</h2>
          <h3>賽璐珞鈦金屬混合鏡框</h3>
        </div>
        <div class="product-list row">
          <div class="product-item col-3">
            <img src="../assets/images/product-1.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-2.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-3.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-4.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-5.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-6.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-1.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-2.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-3.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-4.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-5.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
          <div class="product-item col-3">
            <img src="../assets/images/product-6.png" alt="BJ41600S">
            <div class="product-item-info">
              <p class="product-item-info-title">BJ41600S</p>
              <p class="product-item-info-price">NTD3,490</p>
            </div>
            <div class="product-item-colors">
              <div class="product-item-colors-fisrt"></div>
              <div class="product-item-colors-second"></div>
            </div>
          </div>
        </div>
        <ul class="pagnation d-flex justify-center">
          <li><a href="#">上一頁</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">下一頁</a></li>
        </ul>
      </div>
      <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>