<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>眼鏡電商｜Optical</title>
  <%- include('./layout/head'); -%>
</head>

<body class="product-optical">
  <%- include('./layout/nav'); -%>
    <%- include('./layout/product-nav', {page: "optical" }); -%>
      <div class="product-header container-full">
        <div class="row noGutter">
          <img class="col-6 d-p-none" src="../assets/images/product-header-1.png" alt="眼鏡形象照">
          <img class="col-6 d-none d-p-block" src="../assets/images/product-header-sm-1.png" alt="眼鏡形象照">
          <img class="col-6 d-p-none" src="../assets/images/product-header-2.png" alt="眼鏡形象照">
          <img class="col-6 d-none d-p-block" src="../assets/images/product-header-sm-2.png" alt="眼鏡形象照">
        </div>
      </div>

      <div class="py-20 py-m-10">
        <div class="container">
          <div class="text-center mb-8">
            <h2 class="display-3 h3-m font-en fw-medium">Celluloid Combi</h2>
            <h3 class="h2 h3-m">賽璐珞鈦金屬混合鏡框</h3>
          </div>
          <ul class="product-list row mb-p-10">
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-1.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-2.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-3.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-4.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-5.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-6.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-1.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-2.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-3.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-4.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-5.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
            <li class="product-item hover-overflow col-3 col-p-6 col-m-12">
              <a href="#">
                <div class="hover-overflow-imgFitheight">
                  <img src="../assets/images/product-6.png" alt="BJ41600S">
                </div>
                <div class="product-item-info">
                  <h4 class="product-item-info-title">BJ41600S</h4>
                  <p class="product-item-info-price">NTD3,490</p>
                </div>
                <div class="product-item-colors">
                  <div class="product-item-colors-fisrt"></div>
                  <div class="product-item-colors-second"></div>
                </div>
              </a>
            </li>
          </ul>

          <ul class="pagnation">
            <li><a class="pagnation-prev" href="#">上一頁</a></li>
            <li><a class="pagnation-page" href="#">1</a></li>
            <li><a class="pagnation-page active" href="#">2</a></li>
            <li><a class="pagnation-page" href="#">3</a></li>
            <li><a class="pagnation-page" href="#">4</a></li>
            <li><a class="pagnation-page" href="#">5</a></li>
            <li><a class="pagnation-next" href="#">下一頁</a></li>
          </ul>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>