<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="store">
  <%- include('./layout/nav'); -%>

    <div class="container pt-24 pb-20 pt-p-20 pt-m-10 pb-m-16">
      <h2 class="title">門市據點</h2>
      <div class="row">
        <div class="col-4 col-p-7 col-m-12 d-flex align-center mb-10 mb-m-6">
          <label class="h3 fz-m-1 me-4" for="area">選擇分店</label>
          <select class="stores-select h6 flex-grow-1" name="area" id="area">
            <option value="台北中山旗艦店">台北中山旗艦店</option>
            <option value="台北綠園店">台北綠園店</option>
            <option value="台中清水旗艦店">台中清水旗艦店</option>
            <option value="高雄中正形象店">高雄中正形象店</option>
            <option value="高雄夢時代店">高雄夢時代店</option>
          </select>
        </div>
      </div>
      <div class="row flex-p-column">
        <div class="imgInfoCard col-5 col-p-12 mb-p-6">
          <div class="row flex-column flex-p-row">
            <img class="col-p-6 col-m-12" src="../assets/images/store-1.png" alt="台北中山旗艦店">
            <div class="col-p-6 col-m-12">
              <div class="imgInfoCard-body">
                <h3>台北中山旗艦店</h3>
                <ul class="imgInfoCard-content">
                  <li>
                    <span class="material-icons-outlined">call</span>
                    <a href="tel:(02)000-1234">電話：(02)000-1234</a>
                  </li>
                  <li>
                    <span class="material-icons-outlined">schedule</span>
                    <p>營業時間：10:00-21:00</p>
                  </li>
                  <li>
                    <span class="material-icons-outlined">place</span>
                    <a href="#googleMap">地址：台北市中山區南京東路 25 巷 2-1 號</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7 col-p-12">
          <div class="store-single-map"></div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>